$blanco: #fff;
$negro: #0e0e0e;
$violeta: #4d0686;
$violeta-claro: #af20d3;
$violeta-oscuro: #ab4493;
$violeta-mas-oscuro: #642a73;
$purpura: #4b0684b3;
$lila: #ecccf2;
$gris: #ccc;
$gris-claro: #f2f2f2;
$gris-oscuro: #414141;
$celeste-pastel: #cbeefd;
$celeste1: #7bb4f5;
$celeste2: #67a1e2;
$celeste3: #4177b4;
$verde-limon: #97d848;
$beige:#a8a8a8;



